__pycache__
data/10_million_lines.pgn
data/models
notebooks/scripts/data/models
!notebooks/scripts/data/models/notes/*
notebooks/scripts/tensorboard-logs
build
.ipynb_checkpoints
venv/
# Too big for github
data/embeddings/vectors_d512.bin
